<!--Form for entering a new event into the database-->

<!DOCTYPE html>
<html>
<body>

<form action="add_event.php" method="post">
Event name:<br>
<input type="text" name="ename" >
<br>
Event date:<br>
<input type="date" name="date" min="2020-01-01" max="2022-12-31">
<br>
Language:<br>
<input type="text" name="language" >
<br>
Location:<br>
<input type="text" name="location" >
<br>
Time Zone:<br>
<input type="text" name="zone" >
<br>
<br>
<input type="submit" value="Submit">
</form>

</body>
</html>
